# Ignore ex1.iml file
ex1.iml

# Ignore idea file
.idea

# Ignore windsurf rules
.windsurfrules 

# Ignore OOP coding style config
.editorconfig

# Ignore OOP coding style
OOPCodingStyle.xml
.DS_Store
ex1.zip
*.jar
